<!DOCTYPE html>

<html lang="en" class="no-js">


<head>
    <!-- meta character set -->
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Social Sense | Login</title>
    <!-- Meta Description -->
    <meta name="description" content="Blue One Page Creative HTML5 Template">
    <meta name="keywords" content="one page, single page, onepage, responsive, parallax, creative, business, 
        html5, css3, css3 animation, mental, health, social media, facebook, instagram, reddit, discord, YouTube">
    <meta name="author" content="Tyler Sheffield, Allan Foote, Mikayla Randall, Rai Martin">

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- theme meta -->
    <meta name="theme-name" content="blue-pro" />

    <!-- CSS
		================================================== -->

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700">
    <link rel="shortcut icon" type="image/x-icon" href="/images/icon.png" />
    <!-- Fontawesome Icon font -->
    <link rel="stylesheet" href="plugins/font-awesome.min.css">
    <!-- Ion Icons Font -->
    <link rel="stylesheet" href="plugins/ionicons.min.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="plugins/jquery.fancybox.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="plugins/owl.carousel.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="plugins/slit-slider.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="plugins/animate.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/response.css">

    <!-- Modernizer Script for old Browsers -->
    <script src="plugins/modernizr-2.6.2.min.js"></script>


</head>

<body id="body">

    <!-- preloader -->
    <!-- <div id="preloader">
				<div class="loder-box">
					<div class="battery"></div>
				</div>
		</div> -->
    <!-- end preloader -->

    <!--
        Fixed Navigation
        ==================================== -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
          $(document).ready(function () {
            // Function to check screen size and hide/show navigation links
            function checkWindowSize() {
              if ($(window).width() <= 600) { // Set the desired maximum width
                $("#nav").hide();
              } else {
                $("#nav").show();
              }
            }
        
            // Initial check on page load
            checkWindowSize();
        
            // Re-check on window resize
            $(window).resize(function () {
              checkWindowSize();
            });
          });
    </script>
    <header id="navigation" class="fixed-top animated-header">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="/">
                    <img class="img-fluid" src="images/logo.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto text-center" id="nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/survey">Take The Survey</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">Dashboard</a>
                        </li>
                        <% if (!user) { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/login" id="login">Login</a>
                            </li>
                            <% } else if (user && user.admin) { %>
                                <!-- Show this if user has admin permissions -->
                                <li class="nav-item">
                                    <a class="nav-link" href="/results">Survey Results</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/accounts" id="accounts">View Accounts</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/logout">Logout</a>
                                </li>

                                <% } else { %>
                                    <!-- Show this for general logged-in users -->
                                    <li class="nav-item">
                                        <a class="nav-link" href="/results">Survey Results</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="/account" id="account">My Account</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="/logout">Logout</a>
                                    </li>

                                    <% } %>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!--
              End Fixed Navigation
              ==================================== -->
    <div class="buffer" id="buffer"></div>
    <main class="site-content" role="main">

        <section class="container">
            <div class='tableauPlaceholder' id='viz1701900120128' style='position: relative'><noscript><a href='#'><img
                            alt='The Effect of Social Media Usage on Mental Health '
                            src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;In&#47;Intex_17018996854180&#47;Dashboard1&#47;1_rss.png'
                            style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
                    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                    <param name='embed_code_version' value='3' />
                    <param name='site_root' value='' />
                    <param name='name' value='Intex_17018996854180&#47;Dashboard1' />
                    <param name='tabs' value='no' />
                    <param name='toolbar' value='yes' />
                    <param name='static_image'
                        value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;In&#47;Intex_17018996854180&#47;Dashboard1&#47;1.png' />
                    <param name='animate_transition' value='yes' />
                    <param name='display_static_image' value='yes' />
                    <param name='display_spinner' value='yes' />
                    <param name='display_overlay' value='yes' />
                    <param name='display_count' value='yes' />
                    <param name='language' value='en-US' />
                    <param name='filter' value='publish=yes' />
                </object></div>
            <script
                type='text/javascript'>                    var divElement = document.getElementById('viz1701900120128'); var vizElement = divElement.getElementsByTagName('object')[0]; if (divElement.offsetWidth > 800) { vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; } else if (divElement.offsetWidth > 500) { vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; } else { vizElement.style.width = '100%'; vizElement.style.height = '1177px'; } var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>



        </section>



    </main>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>
                        <a href="">
                            <img class="img-responsive" src="images/logo.png" alt="">
                        </a>
                    </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias ullam numquam repudiandae
                        repellat ex autem
                        voluptas vel esse quo excepturi!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, repellendus.</p>
                </div>
                <div class="col-md-4">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Press</a></li>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Terms And Condition</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>newsletter signup</h4>
                    <p>You will be among the first to know about hot new software and great deals on stuff to enhance
                        and promote</p>
                    <form action="#" method="post" class="subscribe-form wow animated fadeInUp">
                        <div class="input-field">
                            <input type="email" class="subscribe form-control" placeholder="Enter Your Email...">
                            <button type="submit" class="submit-icon">
                                <i class="fa fa-paper-plane fa-lg"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>
    <section id="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-center text-lg-left">
                        COPYRIGHT © 2016 , BLUE PRO | DIGITAL AGENCY
                    </p>
                </div>
                <div class="col-md-6 text-right">
                    <p class="text-center text-lg-left">
                        Design and Developed By <a href="#">Themefisher</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Essential jQuery Plugins
		================================================== -->

    <!-- Twitter Bootstrap -->
    <script src="plugins/bootstrap/bootstrap.min.js"></script>
    <!-- Single Page Nav -->
    <script src="plugins/jquery.singlePageNav.min.js"></script>
    <!-- jquery.fancybox.pack -->
    <script src="plugins/jquery.fancybox.pack.js"></script>
    <!-- Owl Carousel -->
    <script src="plugins/owl.carousel.min.js"></script>
    <!-- jquery easing -->
    <script src="plugins/isotope.pkgd.min.js"></script>
    <script src="plugins/jquery.easing.min.js"></script>
    <!-- Fullscreen slider -->
    <script src="plugins/jquery.slitslider.js"></script>
    <script src="plugins/jquery.ba-cond.min.js"></script>
    <!-- onscroll animation -->
    <script src="plugins/wow.min.js"></script>


    <script src="js/main.js"></script>



</body>

</html>