<!DOCTYPE html>

<html lang="en" class="no-js">


<head>
    <!-- meta character set -->
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Social Sense | Take the Survey</title>
    <!-- Meta Description -->
    <meta name="description" content="Blue One Page Creative HTML5 Template">
    <meta name="keywords" content="one page, single page, onepage, responsive, parallax, creative, business, 
        html5, css3, css3 animation, mental, health, social media, facebook, instagram, reddit, discord, YouTube">
    <meta name="author" content="Tyler Sheffield, Allan Foote, Mikayla Randall, Rai Martin">

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- CSS
		================================================== -->

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700">
    <link rel="shortcut icon" type="image/x-icon" href="/images/icon.png" />
    <!-- Fontawesome Icon font -->
    <link rel="stylesheet" href="plugins/font-awesome.min.css">
    <!-- Ion Icons Font -->
    <link rel="stylesheet" href="plugins/ionicons.min.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="plugins/jquery.fancybox.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="plugins/owl.carousel.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="plugins/slit-slider.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="plugins/animate.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/response.css">

    <!-- Modernizer Script for old Browsers -->
    <script src="plugins/modernizr-2.6.2.min.js"></script>
    <script>
        function validateForm() {
            // Organization Type validation
            var orgCheckboxes = document.getElementsByName('organization_type');
            if (!hasChecked(orgCheckboxes)) {
                showErrorMessage('Please select at least one organization type.');
                return false;
            }
    
            // Social Media Usage validation
            var socialRadioButtons = document.getElementsByName('social_media_use');
            if (!hasChecked(socialRadioButtons)) {
                showErrorMessage('Please indicate whether you use social media.');
                return false;
            }
    
            // Social Media Platforms validation
            var socialMediaCheckboxes = document.getElementsByName('social_media');
            if (!hasChecked(socialMediaCheckboxes)) {
                showErrorMessage('Please select at least one social media platform.');
                return false;
            }
    
            // Time Spent on Social Media validation
            var timeSpentRadioButtons = document.getElementsByName('time_spent_social_media');
            if (!hasChecked(timeSpentRadioButtons)) {
                showErrorMessage('Please select the amount of time you spend on social media.');
                return false;
            }
    
            // If all validations pass, clear error message and allow form submission
            showErrorMessage('');
            return true;
        }
    
        function hasChecked(elements) {
            for (var i = 0; i < elements.length; i++) {
                if (elements[i].checked) {
                    return true;
                }
            }
            return false;
        }
    
        function showErrorMessage(message) {
            document.getElementById('errorMessage').innerText = message;
        }
    </script>

</head>

<body id="body">

    <!-- preloader -->
    <!-- <div id="preloader">
				<div class="loder-box">
					<div class="battery"></div>
				</div>
		</div> -->
    <!-- end preloader -->

    <!--
        Fixed Navigation
        ==================================== -->
    <header id="navigation" class="fixed-top animated-header">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="/">
                    <img class="img-fluid" src="images/logo.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto text-center" id="nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/survey">Take The Survey</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">Dashboard</a>
                        </li>
                        <% if (!user) { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/login" id="login">Login</a>
                            </li>
                            <% } else if (user && user.admin) { %>
                                <!-- Show this if user has admin permissions -->
                                <li class="nav-item">
                                    <a class="nav-link" href="/results">Survey Results</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/accounts" id="accounts">View Accounts</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/logout">Logout</a>
                                </li>

                                <% } else { %>
                                    <!-- Show this for general logged-in users -->
                                    <li class="nav-item">
                                        <a class="nav-link" href="/results">Survey Results</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="/account" id="account">My Account</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="/logout">Logout</a>
                                    </li>

                                    <% } %>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!--
              End Fixed Navigation
              ==================================== -->
    <div class="buffer" id="buffer"></div>
    <main class="site-content" role="main">

        <section class="container">
            <div class="col-md-7 contact-form survey-form">
                <form action="/survey" class="survey" method="post">
                    <h2>Social Media and Mental Health</h2>
                    <div class="dropdown-wrapper">
                        <div class="input-field age-wrapper">
                            <input type="number" name="age" class="form-control age-select" placeholder="Your Age">
                        </div>

                        <div class="input-field dropdown">
                            <select name="gender" id="gender" required>
                                <option value="">Select Your Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Non-binary">Non-binary</option>
                                <option value="Trans">Trans</option>
                                <option value="notSay">Prefer Not To Say</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>

                        <div class="input-field dropdown">

                            <select name="relationship_status" id="relationship_status" required>
                                <option value="">Select Your Relationship Status</option>
                                <option value="In a relationship">In a Relationship</option>
                                <option value="Single">Single</option>
                                <option value="Married">Married</option>
                                <option value="Divorced">Divorced</option>
                            </select>
                        </div>

                        <div class="input-field dropdown">
                            <select name="occupation" id="occupation" required>
                                <option value="">Select Your Occupation</option>
                                <option value="Salaried Worker">Salaried Worker</option>
                                <option value="Retired">Retired</option>
                                <option value="School Student">School Student</option>
                                <option value="University Student">University Student</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                    </div>

                    
                    <form id="surveyForm" onsubmit="return validateForm()">
                        <!-- Organization Type -->
                        <label for="" class="rating-title" id="orgTitle">What type of organizations are you affiliated with?</label>
                    
                        <div class="checkbox-container">
                            <div class="input-field">
                                <label><input type="checkbox" name="organization_type" value="Company"> Public Company</label>
                            </div>
                            <div class="input-field">
                                <label><input type="checkbox" name="organization_type" value="Government"> Government</label>
                            </div>
                            <div class="input-field">
                                <label><input type="checkbox" name="organization_type" value="Private"> Private Company</label>
                            </div>
                            <div class="input-field">
                                <label><input type="checkbox" name="organization_type" value="School"> School</label>
                            </div>
                            <div class="input-field">
                                <label><input type="checkbox" name="organization_type" value="University"> University</label>
                            </div>
                        </div>
                    
                        <!-- Social Media Usage -->
                        <label for="" class="rating-title" id="socialTitle">Do you use social media?</label>
                    
                        <div class="question-container">
                            <div class="social-use">
                                <label><input type="radio" name="social_media_use" value="true" id="social_yes" onclick="makeVisible()"> Yes</label>
                            </div>
                            <div class="social-use">
                                <label><input type="radio" name="social_media_use" value="false" onclick="makeInvisible()"> No</label>
                            </div>
                        </div>
                    
                        <!-- Social Media Platforms -->
                        <label for="" class="rating-title" id="social_media_title">What social media platforms do you commonly use?</label>
                    
                        <div class="checkbox-container" id="social-media-checkbox-container">
                            <div class="input-field">
                                <label><input type="checkbox" name="social_media" value="Instagram"> Instagram</label>
                            </div>
                            <div class="input-field">
                                <label><input type="checkbox" name="social_media" value="YouTube"> YouTube</label>
                            </div>
                            <div class="input-field">
                                <label><input type="checkbox" name="social_media" value="Twitter"> Twitter</label>
                            </div>
                            <div class="input-field">
                                <label><input type="checkbox" name="social_media" value="TikTok"> TikTok</label>
                            </div>
                            <div class="input-field">
                                <label><input type="checkbox" name="social_media" value="Discord"> Discord</label>
                            </div>
                            <div class="input-field">
                                <label><input type="checkbox" name="social_media" value="Pinterest"> Pinterest</label>
                            </div>
                            <div class="input-field">
                                <label><input type="checkbox" name="social_media" value="Reddit"> Reddit</label>
                            </div>
                            <div class="input-field">
                                <label><input type="checkbox" name="social_media" value="Facebook"> Facebook</label>
                            </div>
                            <div class="input-field">
                                <label><input type="checkbox" name="social_media" value="Snapchat"> Snapchat</label>
                            </div>
                        </div>
                    
                        <!-- Time Spent on Social Media -->
                        <label for="" class="rating-title" id="time_spent_social_media_title">How much time do you commonly spend on social media per day?</label>
                    
                        <div class="checkbox-container" id="time-spent-social-media-checkbox-container">
                            <div class="input-field">
                                <label><input type="radio" name="time_spent_social_media" value="Less than an Hour"> Less than an Hour</label>
                            </div>
                            <div class="input-field">
                                <label><input type="radio" name="time_spent_social_media" value="Between 1 and 2 hours"> Between 1 and 2 hours</label>
                            </div>
                            <div class="input-field">
                                <label><input type="radio" name="time_spent_social_media" value="Between 2 and 3 hours"> Between 2 and 3 hours</label>
                            </div>
                            <div class="input-field">
                                <label><input type="radio" name="time_spent_social_media" value="Between 3 and 4 hours"> Between 3 and 4 hours</label>
                            </div>
                            <div class="input-field">
                                <label><input type="radio" name="time_spent_social_media" value="Between 4 and 5 hours"> Between 4 and 5 hours</label>
                            </div>
                            <div class="input-field">
                                <label><input type="radio" name="time_spent_social_media" value="More than 5 hours"> More than 5 hours</label>
                            </div>
                        </div>
                    
                        <p id="errorMessage" class="error-message"></p>
                    
                    </form>

                    <label for="" class="rating-title">On a scale of 1 to 5, how often do you find yourself using Social
                        media without a
                        specific purpose?
                    </label>
                    <div class="rating-container">
                        <label class="end-label left">Rarely</label>
                        <div class="rating-scale">
                            <input type="radio" class="tick1" name="rating" value="1" id="noPurpose1" required>
                            <label for="noPurpose1">1</label>
                            <input type="radio" class="tick2" name="rating" value="2" id="noPurpose2">
                            <label for="noPurpose2">2</label>
                            <input type="radio" class="tick3" name="rating" value="3" id="noPurpose3">
                            <label for="noPurpose3">3</label>
                            <input type="radio" class="tick4" name="rating" value="4" id="noPurpose4">
                            <label for="noPurpose4">4</label>
                            <input type="radio" class="tick5" name="rating" value="5" id="noPurpose5">
                            <label for="noPurpose5">5</label>
                        </div>
                        <label class="end-label right">Almost Constantly</label>
                    </div>

                    <label for="" class="rating-title">On a scale of 1 to 5, how often do you get distracted by Social
                        Media when you are busy
                        doing something?

                    </label>
                    <div class="rating-container">
                        <label class="end-label left">Rarely</label>
                        <div class="rating-scale">
                            <input type="radio" class="tick1" name="distracted" value="1" id="distracted1" required>
                            <label for="distracted1">1</label>
                            <input type="radio" class="tick2" name="distracted" value="2" id="distracted2">
                            <label for="distracted2">2</label>
                            <input type="radio" class="tick3" name="distracted" value="3" id="distracted3">
                            <label for="distracted3">3</label>
                            <input type="radio" class="tick4" name="distracted" value="4" id="distracted4">
                            <label for="distracted4">4</label>
                            <input type="radio" class="tick5" name="distracted" value="5" id="distracted5">
                            <label for="distracted5">5</label>
                        </div>
                        <label class="end-label right">Almost Constantly</label>
                    </div>


                    <label for="" class="rating-title">Do you feel restless if you haven't used Social media in a while?
                    </label>
                    <div class="rating-container">
                        <label class="end-label left">Strongly Disagree</label>
                        <div class="rating-scale">
                            <input type="radio" class="tick1" name="restless" value="1" id="restless1" required>
                            <label for="restless1">1</label>
                            <input type="radio" class="tick2" name="restless" value="2" id="restless2">
                            <label for="restless2">2</label>
                            <input type="radio" class="tick3" name="restless" value="3" id="restless3">
                            <label for="restless3">3</label>
                            <input type="radio" class="tick4" name="restless" value="4" id="restless4">
                            <label for="restless4">4</label>
                            <input type="radio" class="tick5" name="restless" value="5" id="restless5">
                            <label for="restless5">5</label>
                        </div>
                        <label class="end-label right">Strongly Agree</label>
                    </div>

                    <label for="" class="rating-title">On a scale of 1 to 5, how easily distracted are you?
                    </label>
                    <div class="rating-container">
                        <label class="end-label left">Not at all</label>
                        <div class="rating-scale">
                            <input type="radio" class="tick1" name="easydistracted" value="1" id="easydistracted1"
                                required>
                            <label for="easydistracted1">1</label>
                            <input type="radio" class="tick2" name="easydistracted" value="2" id="easydistracted2">
                            <label for="easydistracted2">2</label>
                            <input type="radio" class="tick3" name="easydistracted" value="3" id="easydistracted3">
                            <label for="easydistracted3">3</label>
                            <input type="radio" class="tick4" name="easydistracted" value="4" id="easydistracted4">
                            <label for="easydistracted4">4</label>
                            <input type="radio" class="tick5" name="easydistracted" value="5" id="easydistracted5">
                            <label for="easydistracted5">5</label>
                        </div>
                        <label class="end-label right">Very</label>
                    </div>


                    <!-- Question 13 -->
                    <label for="" class="rating-title">On a scale of 1 to 5, how much are you bothered by
                        worries?</label>
                    <div class="rating-container">
                        <label class="end-label left">Not at all</label>
                        <div class="rating-scale">
                            <input type="radio" class="tick1" name="worries" value="1" id="worries1" required>
                            <label for="worries1">1</label>
                            <input type="radio" class="tick2" name="worries" value="2" id="worries2">
                            <label for="worries2">2</label>
                            <input type="radio" class="tick3" name="worries" value="3" id="worries3">
                            <label for="worries3">3</label>
                            <input type="radio" class="tick4" name="worries" value="4" id="worries4">
                            <label for="worries4">4</label>
                            <input type="radio" class="tick5" name="worries" value="5" id="worries5">
                            <label for="worries5">5</label>
                        </div>
                        <label class="end-label right">Extremely</label>
                    </div>

                    <!-- Question 14 -->
                    <label for="" class="rating-title">On a scale of 1 to 5, how difficult do you find it to concentrate
                        on things?</label>
                    <div class="rating-container">
                        <label class="end-label left">Not at all</label>
                        <div class="rating-scale">
                            <input type="radio" class="tick1" name="concentration" value="1" id="concentration1"
                                required>
                            <label for="concentration1">1</label>
                            <input type="radio" class="tick2" name="concentration" value="2" id="concentration2">
                            <label for="concentration2">2</label>
                            <input type="radio" class="tick3" name="concentration" value="3" id="concentration3">
                            <label for="concentration3">3</label>
                            <input type="radio" class="tick4" name="concentration" value="4" id="concentration4">
                            <label for="concentration4">4</label>
                            <input type="radio" class="tick5" name="concentration" value="5" id="concentration5">
                            <label for="concentration5">5</label>
                        </div>
                        <label class="end-label right">Very much</label>
                    </div>

                    <!-- Question 15 -->
                    <label for="" class="rating-title">On a scale of 1-5, how often do you compare yourself to other
                        successful people
                        through the use of social media?</label>
                    <div class="rating-container">
                        <label class="end-label left">Never</label>
                        <div class="rating-scale">
                            <input type="radio" class="tick1" name="comparison" value="1" id="comparison1" required>
                            <label for="comparison1">1</label>
                            <input type="radio" class="tick2" name="comparison" value="2" id="comparison2">
                            <label for="comparison2">2</label>
                            <input type="radio" class="tick3" name="comparison" value="3" id="comparison3">
                            <label for="comparison3">3</label>
                            <input type="radio" class="tick4" name="comparison" value="4" id="comparison4">
                            <label for="comparison4">4</label>
                            <input type="radio" class="tick5" name="comparison" value="5" id="comparison5">
                            <label for="comparison5">5</label>
                        </div>
                        <label class="end-label right">Always</label>
                    </div>

                    <!-- Question 16 -->
                    <!-- This question seems to require a different kind of answer, not a scale of 1 to 5. -->
                    <label for="" class="rating-title">Following the previous question, how do you feel about these
                        comparisons, generally
                        speaking?</label>
                    <div class="rating-container">
                        <label class="end-label left">Extremely Negative</label>
                        <div class="rating-scale">
                            <input type="radio" class="tick1" name="feelings" value="1" id="feelings1" required>
                            <label for="feelings1">1</label>
                            <input type="radio" class="tick2" name="feelings" value="2" id="feelings2">
                            <label for="feelings2">2</label>
                            <input type="radio" class="tick3" name="feelings" value="3" id="feelings3">
                            <label for="feelings3">3</label>
                            <input type="radio" class="tick4" name="feelings" value="4" id="feelings4">
                            <label for="feelings4">4</label>
                            <input type="radio" class="tick5" name="feelings" value="5" id="feelings5">
                            <label for="feelings5">5</label>
                        </div>
                        <label class="end-label right">Extremely Positive</label>
                    </div>

                    <!-- Question 17 -->
                    <label for="" class="rating-title">On a scale of 1 to 5, how often do you look to seek validation
                        from features of social
                        media?</label>
                    <div class="rating-container">
                        <label class="end-label left">Never</label>
                        <div class="rating-scale">
                            <input type="radio" class="tick1" name="validation" value="1" id="validation1" required>
                            <label for="validation1">1</label>
                            <input type="radio" class="tick2" name="validation" value="2" id="validation2">
                            <label for="validation2">2</label>
                            <input type="radio" class="tick3" name="validation" value="3" id="validation3">
                            <label for="validation3">3</label>
                            <input type="radio" class="tick4" name="validation" value="4" id="validation4">
                            <label for="validation4">4</label>
                            <input type="radio" class="tick5" name="validation" value="5" id="validation5">
                            <label for="validation5">5</label>
                        </div>
                        <label class="end-label right">Always</label>
                    </div>

                    <!-- Question 18 -->
                    <label for="" class="rating-title">On a scale of 1 to 5, how often do you feel depressed or
                        down?</label>
                    <div class="rating-container">
                        <label class="end-label left">Never</label>
                        <div class="rating-scale">
                            <input type="radio" class="tick1" name="depression" value="1" id="depression1" required>
                            <label for="depression1">1</label>
                            <input type="radio" class="tick2" name="depression" value="2" id="depression2">
                            <label for="depression2">2</label>
                            <input type="radio" class="tick3" name="depression" value="3" id="depression3">
                            <label for="depression3">3</label>
                            <input type="radio" class="tick4" name="depression" value="4" id="depression4">
                            <label for="depression4">4</label>
                            <input type="radio" class="tick5" name="depression" value="5" id="depression5">
                            <label for="depression5">5</label>
                        </div>
                        <label class="end-label right">Frequently</label>
                    </div>

                    <!-- Question 19 -->
                    <label for="" class="rating-title">On a scale of 1 to 5, how frequently does your interest in daily
                        activities
                        fluctuate?</label>
                    <div class="rating-container">
                        <label class="end-label left">Not at all</label>
                        <div class="rating-scale">
                            <input type="radio" class="tick1" name="interestFluctuation" value="1"
                                id="interestFluctuation1" required>
                            <label for="interestFluctuation1">1</label>
                            <input type="radio" class="tick2" name="interestFluctuation" value="2"
                                id="interestFluctuation2">
                            <label for="interestFluctuation2">2</label>
                            <input type="radio" class="tick3" name="interestFluctuation" value="3"
                                id="interestFluctuation3">
                            <label for="interestFluctuation3">3</label>
                            <input type="radio" class="tick4" name="interestFluctuation" value="4"
                                id="interestFluctuation4">
                            <label for="interestFluctuation4">4</label>
                            <input type="radio" class="tick5" name="interestFluctuation" value="5"
                                id="interestFluctuation5">
                            <label for="interestFluctuation5">5</label>
                        </div>
                        <label class="end-label right">Very much</label>
                    </div>

                    <!-- Question 20 -->
                    <label for="" class="rating-title">On a scale of 1 to 5, how often do you face issues regarding
                        sleep?</label>
                    <div class="rating-container">
                        <label class="end-label left">Never</label>
                        <div class="rating-scale">
                            <input type="radio" class="tick1" name="sleepIssues" value="1" id="sleepIssues1" required>
                            <label for="sleepIssues1">1</label>
                            <input type="radio" class="tick2" name="sleepIssues" value="2" id="sleepIssues2">
                            <label for="sleepIssues2">2</label>
                            <input type="radio" class="tick3" name="sleepIssues" value="3" id="sleepIssues3">
                            <label for="sleepIssues3">3</label>
                            <input type="radio" class="tick4" name="sleepIssues" value="4" id="sleepIssues4">
                            <label for="sleepIssues4">4</label>
                            <input type="radio" class="tick5" name="sleepIssues" value="5" id="sleepIssues5">
                            <label for="sleepIssues5">5</label>
                        </div>
                        <label class="end-label right">Always</label>
                    </div>

                    <div class="input-field">
                        <input type="submit" class="btn btn-blue btn-effect" value="Submit Survey" id="subBtn">
                    </div>


                </form>

            </div>
        </section>



    </main>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-ms-4">
                    <h7>
                        <a href="">
                            <img class="img-fluid" src="images/logo.png" alt="">
                        </a>
                    </h7>
                </div>
            </div>
        </div>
    </footer>

    <section id="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-center text-lg-left">
                        COPYRIGHT © 2023, SOCIAL SENSE | PROVO CITY
                    </p>
                </div>
                <div class="col-md-6 text-right">
                    <p class="text-center text-lg-left">
                        Designed and Developed By SOCIAL SENSE</a>
                    </p>
                </div>
            </div>
        </div>
    </section>



    <!-- Essential jQuery Plugins
		================================================== -->
    <!-- Main jQuery -->
    <script src="plugins/jquery-1.11.1.min.js"></script>
    <!-- Twitter Bootstrap -->
    <script src="plugins/bootstrap/bootstrap.min.js"></script>
    <!-- Single Page Nav -->
    <script src="plugins/jquery.singlePageNav.min.js"></script>
    <!-- jquery.fancybox.pack -->
    <script src="plugins/jquery.fancybox.pack.js"></script>
    <!-- Owl Carousel -->
    <script src="plugins/owl.carousel.min.js"></script>
    <!-- jquery easing -->
    <script src="plugins/isotope.pkgd.min.js"></script>
    <script src="plugins/jquery.easing.min.js"></script>
    <!-- Fullscreen slider -->
    <script src="plugins/jquery.slitslider.js"></script>
    <script src="plugins/jquery.ba-cond.min.js"></script>
    <!-- onscroll animation -->
    <script src="plugins/wow.min.js"></script>
    <!-- Custom Functions -->
    <script src="plugins/jquery.form.min.js"></script>
    <script src="plugins/jquery.validate.min.js"></script>

    <script src="js/main.js"></script>


</body>

</html>