<!-- // Tyler Sheffield, Allan Foote, Rai Martin, Mikayla Randall
// Intex Group Project
// Section 2 Group 11 -->

<!DOCTYPE html>

<html lang="en" class="no-js">


<head>
    <!-- meta character set -->
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Social Sense | Login</title>
    <!-- Meta Description -->
    <meta name="description" content="Blue One Page Creative HTML5 Template">
    <meta name="keywords" content="one page, single page, onepage, responsive, parallax, creative, business, 
        html5, css3, css3 animation, mental, health, social media, facebook, instagram, reddit, discord, YouTube">
    <meta name="author" content="Tyler Sheffield, Allan Foote, Mikayla Randall, Rai Martin">

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- theme meta -->
    <meta name="theme-name" content="blue-pro" />

    <!-- CSS
		================================================== -->

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700">
    <link rel="shortcut icon" type="image/x-icon" href="/images/icon.png" />
    <!-- Fontawesome Icon font -->
    <link rel="stylesheet" href="plugins/font-awesome.min.css">
    <!-- Ion Icons Font -->
    <link rel="stylesheet" href="plugins/ionicons.min.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="plugins/jquery.fancybox.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="plugins/owl.carousel.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="plugins/slit-slider.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="plugins/animate.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/response.css">

    <!-- Modernizer Script for old Browsers -->
    <script src="plugins/modernizr-2.6.2.min.js"></script>


</head>

<body id="body">

    <!-- preloader -->
    <!-- <div id="preloader">
				<div class="loder-box">
					<div class="battery"></div>
				</div>
		</div> -->
    <!-- end preloader -->

    <!--
        Fixed Navigation
        ==================================== -->
    <header id="navigation" class="fixed-top animated-header">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="/">
                    <img class="img-fluid" src="images/logo.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto text-center" id="nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/survey">Take The Survey</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">Dashboard</a>
                        </li>
                        <!-- if statement changes link displayed on nav bar based on who is logged in -->
                        <% if (!user) { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/login" id="login">Login</a>
                            </li>
                            <% } else if (user && user.admin) { %>
                                <!-- Show this if user has admin permissions -->
                                <li class="nav-item">
                                    <a class="nav-link" href="/results">Survey Results</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/accounts" id="accounts">View Accounts</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="/logout">Logout</a>
                                </li>

                                <% } else { %>
                                    <!-- Show this for general logged-in users -->
                                    <li class="nav-item">
                                        <a class="nav-link" href="/results">Survey Results</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="/account" id="account">My Account</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="/logout">Logout</a>
                                    </li>

                                    <% } %>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!--
              End Fixed Navigation
              ==================================== --> 
              <!-- user and password box-->
    <div class="buffer" id="buffer"></div>
    <main class="site-content" role="main" style="height:calc(100vh - 96px)">

        <section class="container">

            <div class="row justify-content-center login-row">

                <form action="/login" method="post">
                    <div class="form-group">
                        <h2>Social Sense </h2>
                        <h3>Employee Login</h3>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Username"
                            required>
                    </div>

                    <div class="form-group">
                        <!-- <label for="password">Password</label> -->
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                            required>
                    </div>
                    <% if(error==='noMatch' ){%>
                        <div>
                            <p style="color: crimson; margin-bottom: 1rem;">Error: Incorrect Username or Password</p>
                        </div>
                        <% }%>
                            <div class="form-group">
                                <input type="submit" class="btn btn-main btn-blue btn-effect" style="margin: 0;"
                                    value="Login">
                            </div>
                </form>

            </div>


        </section>



    </main>

    <section id="footer-bottom">
        <div class="container"  style="padding-top: 0;">
            <div class="row">
                <div class="col-ms-4">
                    <h6>
                        <a href="">
                            <img class="img-fluid" src="images/logo.png" alt="">
                        </a>
                    </h6>
                </div>
                <div class="col-md-6">
                    <p class="text-center text-lg-left">
                        COPYRIGHT © 2023, SOCIAL SENSE | PROVO CITY
                    </p>
                    <p class="text-center text-lg-left">
                        Designed and Developed By SOCIAL SENSE</a>
                    </p>
                </div>

            </div>
        </div>
    </section>




    <!-- Essential jQuery Plugins
		================================================== -->

    <!-- Twitter Bootstrap -->
    <script src="plugins/bootstrap/bootstrap.min.js"></script>
    <!-- Single Page Nav -->
    <script src="plugins/jquery.singlePageNav.min.js"></script>
    <!-- jquery.fancybox.pack -->
    <script src="plugins/jquery.fancybox.pack.js"></script>
    <!-- Owl Carousel -->
    <script src="plugins/owl.carousel.min.js"></script>
    <!-- jquery easing -->
    <script src="plugins/isotope.pkgd.min.js"></script>
    <script src="plugins/jquery.easing.min.js"></script>
    <!-- Fullscreen slider -->
    <script src="plugins/jquery.slitslider.js"></script>
    <script src="plugins/jquery.ba-cond.min.js"></script>
    <!-- onscroll animation -->
    <script src="plugins/wow.min.js"></script>


    <script src="js/main.js"></script>



</body>

</html>