<!DOCTYPE html>

<html lang="en" class="no-js">


<head>
    <!-- meta character set -->
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Social Sense | Sign Up</title>
    <!-- Meta Description -->
    <meta name="description" content="Blue One Page Creative HTML5 Template">
    <meta name="keywords" content="one page, single page, onepage, responsive, parallax, creative, business, 
        html5, css3, css3 animation, mental, health, social media, facebook, instagram, reddit, discord, YouTube">
    <meta name="author" content="Tyler Sheffield, Allan Foote, Mikayla Randall, Rai Martin">

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- theme meta -->
    <meta name="theme-name" content="blue-pro" />

    <!-- CSS
		================================================== -->

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700">
    <link rel="shortcut icon" type="image/x-icon" href="/images/icon.png" />
    <!-- Fontawesome Icon font -->
    <link rel="stylesheet" href="plugins/font-awesome.min.css">
    <!-- Ion Icons Font -->
    <link rel="stylesheet" href="plugins/ionicons.min.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="plugins/jquery.fancybox.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="plugins/owl.carousel.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="plugins/slit-slider.css">
    <!-- bootstrap.min -->
    <link rel="stylesheet" href="plugins/animate.css">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/response.css">

    <!-- Modernizer Script for old Browsers -->
    <script src="plugins/modernizr-2.6.2.min.js"></script>


</head>

<body id="body">

    <!-- preloader -->
    <!-- <div id="preloader">
				<div class="loder-box">
					<div class="battery"></div>
				</div>
		</div> -->
    <!-- end preloader -->

    <!--
        Fixed Navigation
        ==================================== -->
    <header id="navigation" class="fixed-top animated-header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="/">
                    <img class="img-fluid" src="images/logo.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto text-center" id="nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">Dashboard</a>
                        </li>
                        <% if (!user) { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/login" id="login">Login</a>
                            </li>
                            <% } else if (user && user.admin) { %>
                                <!-- Show this if user has admin permissions -->
                                <li class="nav-item">
                                    <a class="nav-link" href="/results">Survey Results</a>
                                </li>
                        
                                <li class="nav-item">
                                    <a class="nav-link" href="/accounts" id="accounts">View Accounts</a>
                                </li>
                        
                                <li class="nav-item">
                                    <a class="nav-link" href="/logout">Logout</a>
                                </li>
                        
                                <% } else { %>
                                    <!-- Show this for general logged-in users -->
                                    <li class="nav-item">
                                        <a class="nav-link" href="/results">Survey Results</a>
                                    </li>
                        
                                    <li class="nav-item">
                                        <a class="nav-link" href="/account" id="account">My Account</a>
                                    </li>
                        
                                    <li class="nav-item">
                                        <a class="nav-link" href="/logout">Logout</a>
                                    </li>
                        
                                    <% } %>


                    </ul>
                </div>
            </nav>
        </div>
    </header>


    <div class="buffer" id="buffer"></div>
    <main class="site-content" role="main">

        <section class="container">

            <div class="col-md-7 contact-form">
                <form action="/signup" method="post">
                    <h2>Create New <br>Employee Account</h2>
                    <div class="input-field">
                        <input type="text" name="first_name" class="form-control" placeholder="First Name">
                    </div>
                    <div class="input-field">
                        <input type="text" name="last_name" class="form-control" placeholder="Last Name">
                    </div>
                    <div class="input-field">
                        <input type="email" name="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="input-field">
                        <input type="text" name="username" class="form-control" placeholder="Username">
                    </div>
                    <div class="input-field">
                        <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="input-field">
                        <input type="password" name="password2" class="form-control" placeholder="Confirm Password">
                    </div>
                    <div class="input-field">
                        <input type="submit" class="btn btn-blue btn-effect" value="Sign Up">
                    </div>
                    <div>
                        <p>Already have an account?</p>
                        <a href="/login">Login Here.</a>
                    </div>
                </form>
            </div>


        </section>



    </main>

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>
                        <a href="">
                            <img class="img-responsive" src="images/logo.png" alt="">
                        </a>
                    </h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias ullam numquam repudiandae
                        repellat ex autem
                        voluptas vel esse quo excepturi!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, repellendus.</p>
                </div>
                <div class="col-md-4">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Press</a></li>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Terms And Condition</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>newsletter signup</h4>
                    <p>You will be among the first to know about hot new software and great deals on stuff to enhance
                        and promote</p>
                    <form action="#" method="post" class="subscribe-form wow animated fadeInUp">
                        <div class="input-field">
                            <input type="email" class="subscribe form-control" placeholder="Enter Your Email...">
                            <button type="submit" class="submit-icon">
                                <i class="fa fa-paper-plane fa-lg"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>
    <section id="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-center text-lg-left">
                        COPYRIGHT © 2016 , BLUE PRO | DIGITAL AGENCY
                    </p>
                </div>
                <div class="col-md-6 text-right">
                    <p class="text-center text-lg-left">
                        Design and Developed By <a href="#">Themefisher</a>
                    </p>
                </div>
            </div>
        </div>
    </section>


    <!-- Twitter Bootstrap -->
    <script src="plugins/bootstrap/bootstrap.min.js"></script>
    <!-- Single Page Nav -->
    <script src="plugins/jquery.singlePageNav.min.js"></script>

    <!-- onscroll animation -->
    <script src="plugins/wow.min.js"></script>
    <!-- Custom Functions -->

    <script src="js/main.js"></script>



</body>

</html>