.edit-form td {
    padding: 10px;
    background-color: #f9f9f9;
    /* Light background for the form */
    border-top: 1px solid #ddd;
    /* Optional border for separation */
}

.edit-form input,
.edit-form button {
    /* Style your inputs and buttons here */
}

.modify-user {
    display: grid;
    row-gap: 1rem;
    grid-template-columns: auto auto;
    justify-content: space-around;
    align-items: center;
    justify-items: start;
    align-content: center;
}

#user_id {
    background-color: #f9f9f9;
}

button {
    border-radius: 9px;
}