h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.25rem;
    color: #0AA6BD;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

h3 {
    color: #0AA6BD;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;

}

.buffer {
    height: 96px;
}

/* 
body {
    overflow-y: scroll;
} */

.container {
    position: relative;
    top: 10%;
}

.login-row,
.contact-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    padding: 1rem;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    text-align: center;
}

.btn {
    background: #0AA6BD;
    border: 1px solid #0AA6BD;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 12px 40px;
    text-transform: uppercase;
    border-radius: 40px;
    margin-top: 1.75rem;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #7da8b3;
    background-color: white;
    color: #7da8b3;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    display: block;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:hover {
    border-color: #0aa6bd;
    /* Darker shade of blue for hover effect */
}

.form-control:focus {
    border-color: #0aa6bd;
    /* Darker shade of blue for focus */
    box-shadow: 0 0 5px rgba(10, 166, 189, 0.5);
    /* Subtle shadow to indicate focus */
}


.form-control::placeholder,
/* For input, textarea, etc. */
.dropdown select::placeholder {
    /* For select elements, if they support placeholders */
    color: #7da8b3;
    /* Light blue placeholder text color */
    opacity: 1;
    /* Ensure full opacity */
}

/* For browser compatibility */
.form-control:-ms-input-placeholder,
.dropdown select:-ms-input-placeholder {
    color: #7da8b3;
}

.form-control::-ms-input-placeholder,
.dropdown select::-ms-input-placeholder {
    color: #7da8b3;
}

.form-control::-webkit-input-placeholder,
.dropdown select::-webkit-input-placeholder {
    color: #7da8b3;
}

.form-title {
    font-size: 2rem;
    padding-bottom: 0.45rem;
}

.img-responsive {
    height: 50px;
}

.btn:hover {
    background-color: #fff;
}

.survey-form {
    width: 100% !important;
}



.dropdown {
    position: relative;
    width: 100%;
}

.dropdown::after {
    content: '\25BC';
    /* Downward arrow */
    font-size: 12px;
    color: #7da8b3;
    /* Light blue arrow */
    position: absolute;
    right: 10px;
    /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.dropdown select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #7da8b3;
    background-color: white;
    color: #7da8b3;
    font-size: 16px;
    cursor: pointer;
    -webkit-appearance: none;
    /* Removes default style for Safari */
    -moz-appearance: none;
    /* Removes default style for Firefox */
    appearance: none;
    /* Removes default style */
    outline: none;
    /* Removes focus outline */
}

.dropdown select:hover {
    border-color: #0aa6bd;
    /* Darker shade of blue for hover effect */
}

.dropdown select:focus {
    border-color: #0aa6bd;
    /* Darker shade of blue for focus */
    box-shadow: 0 0 5px rgba(10, 166, 189, 0.5);
    /* Subtle shadow to indicate focus */
}

.dropdown-wrapper {
    margin: auto;
    margin-top: 2rem;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.age-select {
    height: 100%;
    margin-top: 0;
}

/* Media Query for screens less than 560px */
@media (max-width: 560px) {
    .rating-container {
        grid-template-columns: 1fr auto 1fr;
        /* Adjust grid layout */
        padding: 0 10px;
        /* Add padding to prevent edge-to-edge stretching */
    }

    .end-label {
        font-size: 12px;
        /* Reduce font size for smaller screens */
        margin: 0 5px;
        /* Adjust margin to save space */
    }

    .rating-scale label {
        font-size: 12px;
        /* Reduce label font size */
        border: 1px solid #7da8b3;
        /* Reduce border thickness */
        margin: 3px;
        margin-top: auto;
        margin-bottom: auto;
        /* Reduce margin between buttons */
    }

    /* Adjust the size of the rating buttons for smaller screens */
    .tick1+label,
    .tick5+label {
        width: 35px;
        /* Reduce width */
        height: 35px;
        /* Reduce height */
    }

    .tick2+label,
    .tick4+label {
        width: 30px;
        /* Reduce width */
        height: 30px;
        /* Reduce height */
    }

    .tick3+label {
        width: 25px;
        /* Reduce width */
        height: 25px;
        /* Reduce height */
    }

    .dropdown-wrapper {
        grid-template-columns: 1fr;
    }

    .age-wrapper {
        height: 47.43px;
    }
}

.checkbox-container {
    margin-left: 3.75rem;
    border-radius: 4px;
    padding: 15px;
    background-color: #fff;
    text-align: left;
    width: fit-content;
    color: #7da8b3;
}


.input-field input[type="checkbox"] {
    accent-color: #7da8b3;
    /* Sets the check color to your accent color */
    cursor: pointer;
    /* Ensures the cursor is a pointer to indicate an interactive element */
}



/* Removes the bottom margin from the last input field for consistency */
.checkbox-container .input-field:last-child {
    margin-bottom: 0;
}

/* Base styles for layout */
.question-container {
    margin-bottom: 20px;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.social-use {
    margin-bottom: 10px;
    /* Spacing between the radio buttons */
    position: relative;

}

/* Custom radio button appearance */
.social-use input[type="radio"] {
    -webkit-appearance: none;
    /* Remove default styling in WebKit/Blink */
    -moz-appearance: none;
    /* Remove default styling in Firefox */
    appearance: none;
    /* Remove default styling */
    margin-right: 10px;
    /* Space between the radio button and the label */
    outline: none;
    /* Remove default outline */
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid #7da8b3;
    /* Custom border */
    border-radius: 50%;
    /* Rounded border */
    position: relative;
    /* For the checkmark positioning */
    cursor: pointer;
    /* Change cursor to pointer to indicate an interactive element */
    vertical-align: middle;
    /* Aligns radio button vertically with the text */
}

/* Change background color when the radio button is checked */
.social-use input[type="radio"]:checked {
    background-color: #0aa6bd;
    /* This color will be the background of the checked radio button */
}

/* Checkmark style when radio is checked */
.social-use input[type="radio"]:checked::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    background-color: #0aa6bd;
    /* Color for the checkmark */
    border-radius: 50%;
}

/* Label style */
.social-use label {
    cursor: pointer;
    display: inline-block;
    /* Aligns label in line with the radio button */
    position: relative;
    /* Required for positioning pseudo-elements */
}

#hiddenMessage {
    display: none;
}