/* Basic table styling */
.table-style {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    color: #333;
    font-size: 0.9em;
    /* Adjust font size for readability */
    white-space: wrap;
}

/* Header styling */
.table-style thead th {
    background-color: #7da8b3;
    color: white;
    text-align: left;
    padding: 8px;
    white-space: nowrap;
    /* Prevent text wrapping in headers */
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Row styling */
.table-style tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-style tr:nth-child(odd) {
    background-color: #ffffff;
}

/* Cell styling */
.table-style td {
    padding: 8px;
    border: 1px solid #ddd;
}

/* Hover effect for rows */
.table-style tr:hover {
    background-color: #ddd;
}

/* Responsive table */
@media screen and (max-width: 600px) {

    .table-style,
    .table-style thead,
    .table-style tbody,
    .table-style th,
    .table-style td,
    .table-style tr {
        display: block;
    }

    .table-style thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .table-style tr {
        border: 1px solid #ccc;
    }

    .table-style td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    .table-style td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        content: attr(data-label);
        font-weight: bold;
    }
}

.results-page {
    width: 90%;
    margin: auto;
}

.vertical-table {
    border-collapse: collapse;
    width: 100%;
}

.vertical-table th,
.vertical-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.vertical-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.grid-container {
    display: grid;
    width: 70%;
    margin: auto;
    margin-top: 2rem;
    grid-template-columns: 1fr 1.5fr;
    font-family: 'Arial', sans-serif;
    margin-bottom: 2rem;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    overflow: hidden;
}

.grid-item {
    padding: 10px;
    border-bottom: 1px solid #e1e1e1;
}

.grid-container .grid-item:nth-child(odd) {
    font-weight: bold;
    background-color: #7da8b393;
    color: #333;
}

.grid-container .grid-item:nth-child(even) {
    background-color: #fff;
    color: #333;
}


/* Hover effect */
.grid-container .grid-item:hover {
    background-color: #f0f0f0;
}

/* Responsive design */
@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .grid-item {
        padding: 5px;
        border: none;
        border-bottom: 1px solid #e1e1e1;
    }
}


.capitalize {
    text-transform: capitalize;
}

.see-more {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px 0;
    background-color: #008da1;
    /* Darker shade of primary theme color */
    color: white;
    /* Text color */
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    /* Remove underline from link */
    font-size: 16px;
    font-weight: bold;
    border: 2px solid transparent;
    /* Optional: add a border */
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

    /* Add a hover effect */
    &:hover,
    &:focus {
        background-color: #7da8b3;
        /* Secondary theme color for hover */
        color: white;
        text-decoration: none;
        /* Ensure underline doesn't reappear */
        border-color: #008da1;
        /* Darker shade of primary theme color for border */
    }
}

.search-bar {
    margin-bottom: 20px;
}

#searchInput {
    padding: 5px;
    width: 200px;
}

.form-row {
    margin: auto;
    width: 90%;
    justify-content: center;
}

.form-group {
    box-sizing: border-box;
    padding-right: 35px;
    flex: 0 0 25%;
    max-width: 100%;
    align-items: flex-start;
    border: none;
}

.form-group select,
option {
    width: 100%;
    padding-right: 20px;
}

.dropdown-toggle {
    display: none;
}

#table-filters {
    background-color: #7da8b395;
    padding: 2rem;
    border-radius: 15px;
}

#table-filters h2 {
    margin-top: 0;
}

#results-table {
    margin-top: 1rem;
}



#filters-wrapper {
    display: none;
}


#export-button {
    padding: 6px 20px;
}

.btn:hover {
    color: #0AA6BD;
}

.results-button-wrapper {
    display: flex;
    margin-top: 1.25rem;
    column-gap: 1rem;
    justify-content: flex-end;
}

.results-button-wrapper .filterButton {
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    justify-items: center;

}

#filter-button {
    margin: auto;
}

.results-button-wrapper .btn {
    margin: 0;
    padding: 6px 20px;
}

#filter-button {
    box-sizing: border-box;
    font-family: inherit;
    overflow: visible;
    -webkit-appearance: button;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    line-height: 1.5;
    position: relative;
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.15) inset;
    background: #0AA6BD;
    border: 1px solid #0AA6BD;
    color: #fff;
    display: inline-flex;
    /* Changed from inline-block to inline-flex */
    align-items: center;
    /* Ensure vertical alignment */
    justify-content: center;
    /* Ensure horizontal alignment */
    font-size: 14px;
    letter-spacing: 1px;
    padding: 12px 40px;
    text-transform: uppercase;
    border-radius: 40px;
    margin: 0;
    cursor: pointer;
    padding: 12px 25px;
    box-shadow: none;
}

#filter-button:hover {
    color: #0AA6BD;
    background-color: white;
}

#filter-form-button {
    display: inline-flex;
    align-items: center;
    justify-items: center;

}

.section {
    padding-top: 1rem;
}

.Survey-Title {
    margin-top: 1.25rem;
    margin-bottom: 0;
}


@media (max-width: 600px) {
    .form-row {
        flex-direction: column;

    }

    .results-button-wrapper {
        justify-content: center;
    }

    .results-button-wrapper .inline-flex {
        display: inline-flex;

    }

    #filter-button {
        padding: 4.5px 9px;
    }

    #filter-form-btn,
    #export-button {
        padding-left: 9px;
        padding-right: 9px;

    }
}

.cell-label {
    display: none;
}

@media screen and (max-width: 600px) {
    table thead {
        display: none;
    }

    .table-style td {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        padding-left: 0;
    }

    .cell-label {
        display: inline;
        font-size: large;
        font-weight: bolder;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 0.75rem;
        /* Show only on small screens */
    }

    table thead {
        display: none;
        /* Hide table headers on small screens */
    }
}